@import url(https://db.onlinewebfonts.com/c/d05c19ccecf7003d248c60ffd6b5e8f7?family=Binance+PLEX);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !font-binancePlex;
  }
}

@layer components {
  .filter-gray {
    filter: invert(59%) sepia(11%) saturate(410%) hue-rotate(176deg) brightness(93%) contrast(93%);
  }
  .filter-white {
    filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
  }

  .filter-yellow {
    filter: invert(64%) sepia(97%) saturate(333%) hue-rotate(4deg) brightness(111%) contrast(98%);
  }

  .hideScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hideScroll::-webkit-scrollbar {
    display: none;
  }

  .bg-blur {
    -webkit-backdrop-filter: blur(21.1000003815px);
    backdrop-filter: blur(21.1000003815px);
    background: hsla(0, 0%, 77%, 0.1);
    border-radius: 16px;
    box-shadow: inset 21.1px -21.1px 21.1px 0 hsla(0, 0%, 58%, 0.1), inset -21.1px 21.1px 21.1px 0 hsla(0, 0%, 100%, 0.1);
  }

  .button-primary {
    @apply bg-[#f8d33a] rounded-[30px] text-color-textBlack text-base font-bold h-12 leading-[46px];
  }

  .button-secondary {
    @apply text-center  rounded-[30px] text-[#fcd535] text-base font-semibold h-12 leading-[46px] border border-[#fcd535] flex items-center justify-center pb-1;
  }

  .loading-line {
    animation: jump-scaleY 1.5s linear infinite;
    background-color: #fcd535;
    height: 8px;
    transform-origin: top;
    width: 4px;
  }

  @keyframes jump-scaleY {
    0% {
      transform: translateY(0) scaleY(1);
    }

    7.5% {
      transform: translateY(-120%) scaleY(2);
    }

    15%,
    35% {
      transform: translateY(-120%) scaleY(0.5);
    }

    43.5% {
      transform: translateY(0) scaleY(2);
    }

    52.5%,
    72.5% {
      transform: translateY(120%) scaleY(0.5);
    }

    80%,
    to {
      transform: translateY(0) scaleY(1);
    }
  }
}
